<div class="cart-contents">
	<form method="post" action="cart-api.php" class="remove-item-form">
		<input type="hidden" name="action" value="remove">
		<table>
			<thead>
				<tr>
					<th>Product</th>
					<th>Prijs</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<?php foreach ($cart as $item_id => $item): ?>
				<tr id="item-<?=$item_id?>">
					<td>
						<strong class="title"><?=$item->product->title?></strong>
						<dl class="details"><?=format_options($item)?></dl>
					</td>
					<td class="price">&euro;&nbsp;<?=number_format($item->product->price, 2, ',', '.') ?></td>
					<td class="actions"><button type="submit" name="item" value="<?=$item_id?>" class="remove-button">Verwijder</button></td>
				</tr>
				<?php endforeach ?>
			</tbody>
			<tfoot>
				<tr>
					<th>Totaal:</th>
					<th class="price">&euro;&nbsp;<?=number_format(get_cart_price(), 2, ',', '.') ?></th>
					<th></th>
				</tr>
			</tfoot>
		</table>
	</form>

	<form method="post" action="cart-api.php" class="vertical-form order-form <? if (count($cart) == 0): ?>hidden<? endif ?>">
		<h2>Bestel <span class="cart-item-count" data-format-singular="this item" data-format-plural="these %d items"><?=nsprintf('dit product', 'deze %d producten', get_cart_item_count())?></span></h2>
		
		<input type="hidden" name="action" value="order">

		<label for="order-name">Naam:</label>
		<input type="text" name="name" id="order-name" placeholder="Je hele naam">

		<label for="order-address">Adres:</label>
		<input type="text" name="address" id="order-address" placeholder="Straatnaam en huisnummer">

		<label for="order-postal-code">Postcode:</label>
		<input type="text" name="postal_code" id="order-postal-code" placeholder="bijv. 9700AB">

		<label for="order-place">Woonplaats:</label>
		<input type="text" name="place" id="order-place" placeholder="bijv. Groningen">

		<label for="order-email-address">E-mailadres:</label>
		<input type="text" name="email_address" id="order-email-address" placeholder="Je e-mailadres">

		<label for="order-bank-account">IBAN banknummer:</label>
		<input type="text" name="bank_account" id="order-bank-account" placeholder="Je IBAN nummer, wat waarschijnlijk begint met NL..">

		<input type="checkbox" name="agree" value="yes" id="order-agree">
		<label for="order-agree">Ik vind het prima wanneer dit geld magisch van m'n bankrekening verdwijnt</label>

		<label for="order-remarks">Overige opmerkingen:</label>
		<textarea name="remarks" id="order-remarks" placeholder="bijv. 'ik wil een mooie tekening op de verpakking'"></textarea>

		<button type="submit">Plaats mijn bestelling</button>
	</form>
</div>
