<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="mobileoptimized" content="0">
		<title><?=htmlspecialchars($title)?> &mdash; IkHoefGeen Nepshop</title>
		<link rel="stylesheet" href="style.css">
		<!--[if lt IE 9]>
			<script src="html5shiv.js"></script>
		<![endif]-->
	</head>
	<body>
		<header class="website-header">
			<h1><a href="index.php">Nepshop</a></h1>

			<a class="cart" href="cart.php">Winkelmand (<span class="cart-item-count" data-format-singular="%d ding" data-format-plural="%d dingen"><?=nsprintf('%d ding', '%d dingen', get_cart_item_count())?></span>)</a>
		</header>
		<div class="website-content">
			<?=$content?>
		</div>
		<footer class="website-footer">
			<p>Grapje! &mdash; 2015</p>
		</footer>
		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<script src="script.js"></script>
	</body>
</html>
