<section class="product-list">
	<?php foreach ($products as $id => $product): ?>
	<a class="product" href="product.php?product=<?=$id?>">
		<img src="images/<?=$product->images->small?>" class="product-image">
		<h3 class="title"><?=$product->title?></h3>
		<p class="description"><?=$product->description?></p>
		<span class="order-now-link">
			Meer info
		</span>
	</a>
	<?php endforeach ?>
</section>
